<div class="mb-3">
  <label for="{{ name }}" class="form-label">{{ label }}</label>
  <textarea
    id="{{ name }}"
    name="{{ name }}"
    class="form-control {{ flashMessages.has(`inputErrorsBag[${name}]`) ? 'is-invalid' : '' }}"
    {{ $props.merge({ type: 'text' }).except(['label']).toAttrs() }}
  >{{ value }}</textarea>
  @inputError(name)
    @each(message in $messages)
      <div class="invalid-feedback">{{ message }}</div>
    @end
  @end
</div>